# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
*.cover
*.py,cover
.cache
.coverage
.coverage.*
.hypothesis/
.nox/
.pytest_cache/
.tox/
cover/
coverage.xml
htmlcov/
nosetests.xml

# Translations
*.mo
*.pot

# pyenv
.python-version

# Environments
.env
.env*
.venv
.venv*
ENV/
env.bak/
env/
venv.bak/
venv/

# project
*.crt
*.key
*.log
coxwave/settings/local.py
media/
static/
volumes/

# etc
*.swp
.DS_Store
.git
.idea/
.vscode/
